
blockquote {
color:rgb(255,150,100);
font-family:georgia, serif;
font-size:32px;
line-height:1.2;
text-align:center;
padding:24px 60px;
margin:0 120px;
margin-bottom:18px;
border:solid 1px rgb(220,220,220);
position:relative;
 border-left: 4px solid #27ae60;
}

blockquote:before,
blockquote:after {
position:absolute;
width:48px;
height:48px;
content:".";
font-size:0;
}

blockquote::before {
background-image:url('https://1.bp.blogspot.com/-RTYENuU5cjk/UnyeZqg1MEI/AAAAAAAAAxk/wMqB-XZyhM8/s1600/uoHCjSK.png');
top:0;
left:0;
}

blockquote::after {
background-image:url('https://1.bp.blogspot.com/-zY3B40Mp4hM/UnyeZocS9jI/AAAAAAAAAxg/pWjYhNilBwo/s1600/m3HnqqU.png');
bottom:0;
right:0;
}

.author {
display:block;
text-align:right;
font-size:18px;
padding:4px;
color:rgb(150,150,150);
font-style:italic;
}
